@media (max-width: 337px) and (max-height: 666px) {
  body {
    background-color: black;
    position: relative;
    margin: 0;
  }

  .container {
    height: 100vh;
    border-radius: 20px;
    padding: 10px 18px;
    box-sizing: border-box;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
  }

  .login-container {
    background-color: rgb(159, 252, 215);
  }

  .register-container {
    background-color: rgb(73, 136, 92);
  }

  main {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 8vh 0;
    box-sizing: border-box;
    z-index: 10;
  }

  h1 {
    font-size: 6vh;
    margin: 3vh 0;
  }

  .info {
    display: flex;
    flex-direction: column;
    padding-top: 3.8vh;
  }

  label {
    font-size: 2.8vh;
    display: flex;
    justify-content: flex-start;
  }

  input {
    background-color: rgb(255, 255, 255);
    border: 1px solid gray;
    border-radius: 3px;
    height: 3.9vh;
    margin-bottom: 1.8vh;
  }

  input:focus {
    outline: 1px solid rgb(55, 121, 241);
    box-shadow: 0 0 0 3px rgb(136, 224, 222);
  }

  .slogan {
    font-size: 2.3vh;
    margin: 1.8vh 0;
    padding: 0.5vh;
  }

  .login-button,
  .register-button {
    font-size: 18px;
    background-color: rgb(234, 233, 237);
    border-radius: 3px;
    border: 1px solid gray;
    height: 6.3vh;
  }

  .login-button:hover,
  .register-button:hover {
    background-color: rgb(209, 208, 214);
  }

  .to-register-page,
  .to-login-page {
    font-size: 2.7vh;
    text-decoration: underline;
    margin: 6.5vh 0;
  }

  .alert-container {
    height: 100vh;
    width: 100vw;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
  }

  .alert-container-visible {
    display: block;
    z-index: 10;
  }

  .alert-overlay {
    height: 100vh;
    width: 100vw;
    position: absolute;
    background-color: white;
    opacity: 0.5;
    left: 0;
    top: 0;
  }

  .alert-box {
    opacity: 0;
    z-index: 2;
    position: absolute;
    top: 43vh;
    left: 5vw;
    height: 21vh;
    width: 90vw;
    background-color: white;
    font-size: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    gap: 12px;
  }

  .alert-box-visible {
    opacity: 1;
  }

  .alert-text {
    text-align: center;
  }

  .contacting-server {
    top: 45vh;
    height: 11vh;
  }

  .alert-close {
    height: 6.9vh;
    width: 80vw;
    font-size: 3vh;
    background-color: rgb(234, 233, 237);
    border: 1px solid gray;
    border-radius: 5px;
  }

  .alert-close:hover {
    background-color: rgb(209, 208, 214);
  }

  .hidden {
    display: none;
  }
}
