@media (max-width: 337px) and (max-height: 666px) {
  main {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
  }

  .quiz-container {
    background-color: rgb(151, 205, 232);
  }

  .dog-background-image {
    position: absolute;
    top: 30vh;
    left: 3vw;
    max-width: 93vw;
  }

  .name-logout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 1.2vh;
    border-radius: 5px;
    font-size: 2.7vh;
  }

  .hidden {
    display: none;
  }

  .logout-button {
    font-size: 2.7vh;
  }

  .options {
    gap: 7px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 1;
  }

  .quiz-option {
    font-size: 3vh;
    height: 8vh;
    width: 48%;
    background-color: rgb(234, 233, 237);
    border-radius: 5px;
    border: 1px solid gray;
  }

  .shown-dog-picture {
    border-radius: 15px;
    margin-bottom: 2vh;
  }

  .correct {
    background-color: rgb(117, 251, 140);
    top: 40vh;
    height: 21vh;
  }

  .wrong {
    background-color: rgb(197, 111, 52);
    top: 40vh;
    height: 21vh;
  }
}
